/* Font for the site */
@font-face {
    font-family: Helvetica;
    src: url(assets/fonts/HelveticaLTStd-Roman.otf);
}

/* Font style for branding */
.navbar-brand {
  font-family: 'Monoton', cursive;
}

/* Font for site, prevent navbar from blocking part of the page */
#indexBody, #programBody, #aboutBody, #registrationBody { 
  padding-top: 60px;
  font-family: Helvetica;
}

.navbar-nav > li > a , .navbar-nav > li > div > a {
  font-size: 1.25em;
}

/* Setting color palette on site elements */
.bg-dark, .navbar-dark {
  background-color: #050505!important;
}

#indexBody, #programBody, #aboutBody, #registrationBody {
  background-color: #CCC5B9;
}

.jumbotron {
  background-color: #FFFCF2;
}

.btn-info, .btn-primary, .btn-default {
  background-color: #EB5E28;
  border-color: #EB5E28;
}

.btn-info:hover, .btn-primary:hover, .btn-default:hover {
  background-color: #AB451E;
}

.btn-dark {
  background-color: #050505;
  border-color:#050505;
}

.navbar-nav > li > a:hover {
  background-color: #EB5E28;
  border-color: #EB5E28;
}

.dropdown-menu {
  background-color: #050505;
  border-color: #050505;
}

.dropdown-item {
  color: rgba(255,255,255,0.5);
}

.dropdown-item:hover {
  background-color: #EB5E28;
  border-color: #EB5E28;
} 

.form-row {
  background-color: #FFFCF2; 
}

iframe {
    width: 100%;
  }

/* Making footer to stick to bottom of screen on registration page */
.footer-registration {
  position: fixed;
  bottom: 0;
}

/* Centering registration form on Registration page on larger screens */
@media (min-width: 992px) {
  #registrationHtml, #registrationBody {
    height:100%;
  }

  #registrationBody {
    display:flex;
    align-items:center;
  }
}

p {
  text-align: justify;
}

.paragraph-caption, .paragraph-title {
  text-align: center;
  font-size: 1.25em;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.6);
  border-radius: 25px 25px;
}

blockquote {
  padding-left: 15px;
  border-left: 5px solid #CCC5B9;
}